mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

mat-card .movie-poster {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.watch-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
}
