@use "@angular/material" as mat;

.content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 1rem;
  @media (max-width: 768px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

.title {
  font-size: var(--mat-sys-title-large-size);
}

.movie-grid:has(mat-spinner),
.movie-grid.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
