<p class="title">Watchlist ({{ watchlist().length }})</p>
<div class="content">
  @if (watchlist().length === 0) {
  <div class="movie-grid{{ watchlist().length === 0 ? ' loading' : '' }}">
    <mat-spinner></mat-spinner>
  </div>
  }
  <!-- prettier-ignore -->
  @if (watchlist().length > 0) {
  <!-- prettier-ignore -->
  @if (isMobile) {
  <!-- prettier-ignore -->
  @for (movie of watchlist(); track movie.id) {
  <app-mobile-movie-card [movie]="movie"></app-mobile-movie-card>
  } } @else {
  <!-- prettier-ignore -->
  @for (movie of watchlist(); track movie.id) {
  <app-movie-card [movie]="movie"></app-movie-card>
  } } }
</div>
