<div class="watched-container">
  @if (isMobile) {
  <mobile-toolbar />
  } @else {
  <app-header />
  }
  <p class="title">Watched Movies ({{ watched().length }})</p>
  <div class="content">
    @if (watched().length === 0) {
    <div class="movie-grid{{ watched().length === 0 ? ' loading' : '' }}">
      <mat-spinner></mat-spinner>
    </div>
    }
    <!-- prettier-ignore -->
    @if (watched().length > 0) {
    <!-- prettier-ignore -->
    @for (movie of watched(); track movie.id) {
    <app-watched-movie-card [movie]="movie"></app-watched-movie-card>
    } }
  </div>
</div>
